
<nav>
    <!--logo--------------->
    <a href="/Home/Film" class="logo">
        <img src="/Content/Assets/images/logo.png" />
    </a>
    <!--menu--btn----------------->
    <label class="menu-icon" for="menu-btn">
        <span class="nav-icon"></span>
    </label>
    <!--menu-------------->
   
    <ul class="menu">
        <li>AAA</li>
        <li>AAA</li>


    </ul>
    <!--search------------->
   
        <div class="search" style="width:350px">
            <input type="text" name="keySearch" value="" placeholder="Tìm kiếm phim mà bạn yêu thích" />
            <i class="fas fa-search"></i>
        </div>
    

</nav>

